body{
    background-color: rgb(77, 81, 93);
}
main{
    height: 42rem;
    width: 75%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
}
.images{
    width: 25px;
    height: auto;
    margin-left: 2rem;
}
.visual{
    display: flex;
    align-items:center;
    margin-top: 1rem;
     width: 35rem;
    height: 4rem;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px gray;
}
h2{
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 300;
}
.paragraph{
    gap: 0.5rem;
}
.p1, .p2{
    margin: 0;
}
.all{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
     margin-left: 5rem;
}
.input{
    margin: auto;
    padding-right: 5rem;
}
header{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    column-gap: 2px;
}
.rightpart{
    background-image: url(side.jpg);
    background-size:cover;
    width: 25rem;
    margin-left: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    height: 6rem;
    width: 100%;
    margin-left: auto;
    margin-top: 6.2rem;
    padding-right: 8rem;
    border-bottom-left-radius: 5px;
    border-top: 1px solid black;
}
.footerleft{
    margin-left: 5rem;
}